/* {{{ KILLER KAO STYLE.CSS }}} ʕノ•ᴥ•ʔノ ︵ ┻━┻  ︵ \ ʕ•ᴥ•\  ʔ */

/* RESET */
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}


/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    font-family: Helvetica, sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Bowlby One SC", cursive;
}

/* <MAIN> */

main {
    background-color: #ccc;

    min-width: 450px;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* <HEADER> */

#title { /* BEFORE */
font-size: 3em;
background-color: aqua;
text-align: center;
}


button {
    font-size: 18px;
    border: solid #333 2px;
    border-radius:5px;
}

/* - <BUTTON> #START </BUTTON> -*/

#start {
    font-family: "Bowlby One SC", cursive;
    font-size: 1.5em;
    color: #fff;
    border: solid #333 2px;
    background-color: #D0021B;

}

/* - <BUTTON> #STRIKE </BUTTON> -*/
/* - <BUTTON> #THROW </BUTTON> -*/
/* - <BUTTON> #BLOCK </BUTTON> -*/





/* <DIV><SPAN> - HP-CONTAINER + HP-BARS - </SPAN></DIV> */

#hp-container-section{
    background-color: antiquewhite;
    width: 400px;
    font-size: 30px;
    display: flex;
    align-content: row;
}

#player-hp-container {
    width: 200px;
    background-color: crimson;

}

#player-hp {
    color: antiquewhite;
}

#bear-hp-container{
    width: 200px;
    background-color: royalblue;
    text-align: right;
}

#bear-hp {
    color: antiquewhite;
}





/* <DIV> - #ARENA - </DIV> */

#arena-section {
    background-color: chartreuse;
    width: 400px;
    display: flex;
    flex-flow: row nowrap;
}

/* <DIV> - .CHARACTER - </DIV> */

.character {
    font-size: 40px;
    width: 500px;
}

/* PLAYER-CONTAINER (๑و•̀ω•́)و */

#player-body {
    background-color: crimson;
    color: #fff;

}

/* BEAR-CONTAINER ʕ•ᴥ•  ʔ */
#bear {
    text-align: right;
}

#bear-body {
    background-color: royalblue;
    color: #fff;
    font-size: 50px;
}




