/* {{{ KILLER KAO STYLE.CSS }}} ʕノ•ᴥ•ʔノ ︵ ┻━┻  ︵ \ ʕ•ᴥ•\  ʔ */

/* RESET */
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}


/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    width: 100%;
    font-family: Helvetica, sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

h1, h2 {
    font-family: "Bowlby One SC", cursive;
}

button {
    font-size: 18px;
    border: solid #333 2px;
    border-radius:5px;
    padding: 5px 20px;
}

footer {
    margin-top: 5%;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}

footer a:link, a:visited {
    color: #a88ead;
    text-decoration: none;
}

footer a:hover {
    color: #6f4377;
}


/* <MAIN> */

main {
    min-width: 300px;
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* <HEADER> */

#title { /* BEFORE */
font-size: 3em;
text-align: center;
}

/* OUTCOME BANNER*/
.outcome {
    padding: 20px;
    position: absolute;
    top: 10%;
    z-index: 9;
    text-align: center;
    display: none;
}
.outcome h2 {
    font-family: "Bowlby One SC", cursive;
    font-size: 40px;
}
#reset:hover {
    cursor: pointer;
}


/* - <BUTTON> #START </BUTTON> -*/

#start {
    font-family: "Bowlby One SC", cursive;
    font-size: 1.5em;
    color: #fff;

    border: solid #333 2px;
    background-color: #D0021B;

    margin: 10px auto;
}

#start:hover {
    border-color: #e26776;
    background-color: #de4d5f;

}

/* - <NAV> ATK MENU </NAV> - */
#atk-menu {
    display: none;
    margin: 10px auto;
}

/* - <BUTTON> ATK-BTN </BUTTON> - */
.atk-btn {
    margin: 0 auto;
    background-color: #fff;
}

/* - <BUTTON> #STRIKE </BUTTON> -*/
#strike:hover {
    background-color: #7ED321;
    border: 2px solid #7ED321;
    color: #fff;

    transition: ease 0.1s;
}
/* - <BUTTON> #THROW </BUTTON> -*/
#throw:hover {
    background-color: #F5A623;
    border: 2px solid #F5A623;
    color: #fff;

    transition: ease 0.1s;
}
/* - <BUTTON> #BLOCK </BUTTON> -*/
#block:hover {
    background-color: #4A90E2;
    border: 2px solid #4A90E2;
    color: #fff;

    transition: ease 0.1s;
}

/* <DIV><SPAN> - HP-CONTAINER + HP-BARS - </SPAN></DIV> */

#hp-container-section{
    min-width: 300px;
    width: 40%;
    font-size: 20px;
    display: flex;
    align-content: row;
    color: #333;
    display: none;
}

.hp-label {
    font-size: 0.7em;
}
#player-hp-container {
    min-width: 150px;
}

#player-hp {
    color: #333;
    font-weight: 700;
}

#bear-hp-container{
    min-width: 150px;
    text-align: right;
}

#bear-hp {
    color: #333;
    font-weight: 700;
}

.names {
    font-size: 25px;
    font-weight: 700;
}

/* <DIV> ATK-FEEDBACK </DIV> */
.atk-feedback {
    display: flex;
    flex-flow: row wrap;
    align-content: row;
    font-size: 13px;
}
#player-atk-feedback {
    margin: 5px 10px;
    text-align: left;
    align-items: row;
}
#bear-atk-feedback {
    margin: 5px 10px;
    align-items: row;
}

/* <DIV> - #ARENA - </DIV> */

#arena-section {
    min-width: 300px;
    width: 40%;
    /*height: 15vh;*/
    margin: 20px auto;
    color: #333;

    display: flex;
    flex-flow: row nowrap;
    
}

/* <DIV> - .CHARACTER - </DIV> */

.character {
    font-size: 1.5em;
    min-width: 150px;
    width: 15%;
}

/* PLAYER-CONTAINER */
#player {
    display: flex;
    flex-flow: column;
    align-self: flex-end;
}

/* BEAR-CONTAINER ʕ•ᴥ•  ʔ */
#bear {
    text-align: right;
    margin: 0 auto;
    padding-right: 5px;
}

#bear-body {
    color: #333;
    font-size: 1.6em;
    margin: 0 auto;
}




